

video {
	position: relative;
	margin: 0 auto;
	min-width: 640px;
	width: 100%;
	height: auto;
	z-index: -1;
}

.navbar-nav .nav-link {
	font-size: 25px;
	font-family: 'Do Hyeon';
	color: white;
}

.btn{
	font-size: 18pt !important;
	font-family: 'Do Hyeon';
	color: white;
	padding-bottom: 1px !important;
	padding-top: 3px !important;
	
}

#navbarsExampleDefault {
	font-size: 25px;
}

li.nav-item {
	margin-right: 50px;
}

#navbarsExampleDefault>ul>li.nav-item.active>a {
	margin-left: 50px;
}