

header .overlay {
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
	border-image: repeat;
	position: absolute;
}

body {
	background-color: black !important;
	background-repeat: repeat !important;
	background-position: center;
}

.navbar-nav .nav-link {
	font-size: 25px;
	font-family: 'Do Hyeon';
	color: white;
	z-index: 1;
}

.btn {
	font-size: 18pt !important;
	font-family: 'Do Hyeon';
	color: white;
	padding-bottom: 1px !important;
	padding-top: 3px !important;
	z-index: 2;
}

#navbarsExampleDefault {
	font-size: 25px;
}

li.nav-item {
	margin-right: 50px;
}

#navbarsExampleDefault>ul>li.nav-item.active>a {
	margin-left: 50px;
}

.fixed-top {
	position: absolute;
	width: 100%;
	height: 100px;
	top: 0;
	z-index: 1030;
	background-color: black;
}