<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="movieDetailMapper">


	<!-- 영화 상세 검색 <select id="movieDetail" parameterType="list" resultType="movieDetailVO"> 
		select movie_name,movie_genre,movie_story,movie_actor,movie_director,movie_poster 
		from movie where movie_no=#{movie_no} </select> -->

	<!-- 배우 상세 검색 -->


	<!-- json에서 단어 추출 
	<insert id="insert" parameterType="movieDetailDTO"
		useGeneratedKeys="true" keyProperty="movieNo">
		insert into
		movie(movie_no,movie_name,movie_genre,movie_story,movie_actor,movie_director,movie_poster)
		values
		(movie_seq.nextval,#{movieName},#{movieGenre},#{plot},null,null,null)
	</insert>
-->

	<insert id="insert" parameterType="movie">
		insert into movie(movie_no,movie_name,movie_genre,movie_story,movie_actor,movie_director,movie_poster)
		values(movie_seq.nextval,#{movieName},#{movieGenre},#{movieStory},#{movieActor},#{movieDirector},#{moviePoster})
	</insert>
	
	<!-- 상세 검색 (영화정보) -->
	<select id="selectMovie" parameterType="movie">
		select movie_no,movie_name,movie_genre,movie_story,movie_actor,movie_director,movie_poster
		from movie
		where movie_name=#{movieName}
	</select>

</mapper>
