<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="replyMapper">
	<!-- MovieNo에 해당하는 상세정보 봤을 때 그 MovieNo이 갖고 있는 댓글 select 상세보기 추가시 where movie_no 
		= ? 추가 -->
	<select id="selectReply" resultType="reply" parameterType="int">
		select reply_no, reply_content, member_Name, reply_date from reply where movie_no = #{value}
	</select>
	<insert id="insertReply" parameterType="reply">
		insert into
		reply(reply_no, reply_content, reply_date, movie_no, member_id,
		member_Name) values(reply_no_seq.nextval,
		#{replyContent}, sysdate, #{movieNo}, #{memberId}, #{memberName})
	</insert>

	<!-- 댓글 공감 비공감 -->
	<update id="replyUp" parameterType="long">
		update reply set reply_up =
		reply_up+1 where reply_no = #{value}
	</update>
	<update id="replyDown" parameterType="long">
		update reply set reply_down
		= reply_down+1 where reply_no = #{value}
	</update>

	<!-- 댓글 삭제 -->
	<delete id="replyDelete" parameterType="map">
		delete from reply where
		reply_no = #{replyNo} and member_id= #{memberId}
	</delete>
	
	<!-- 신고 버튼 클릭 -->
	<insert id="insertReplyReport" parameterType="map">
		insert into reportReply(member_id, reply_no, count) values(#{memberId}, #{replyNo}, 1)
	</insert>
	
	<!-- 해당 댓글에 신고 몇회 인지 계산 -->
	<select id="sumReportReply" parameterType="long" resultType="_int">
		select sum(count) as count from reportReply where reply_no = #{value}
	</select>
	
	<!-- 신고기능 중복체크 -->
	<select id="checkReportReply" parameterType="map" resultType="reportReply">
		select member_id, reply_no, count from reportReply where reply_no=#{replyNo} and member_id=#{memberId}
	</select>
</mapper>